<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Freelancehunt Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body class="app">

<header class="app-header">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    Freelancehunt Test
                </a>
            </div>
        </div>
    </nav>
</header>

<div class="app-content">
    <main class="container">
        <h1>Projects</h1>

        <div class="pie-chart">
            <div class="pie-chart__inner">
                <canvas id="pie-chart" data-sums="{{ sumRanges|json_encode }}" ></canvas>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Budget</th>
                    <th>Customer Name</th>
                    <th>Customer Login</th>
                    <th>Published At</th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td><a href="{{ project.url }}">{{ project.title }}</a></td>
                    <td>{{ project.budget }}</td>
                    <td>{{ project.customer_name }}</td>
                    <td>{{ project.customer_login }}</td>
                    <td>{{ project.published_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ paginatorView|raw }}
    </main>
</div>

<footer class="app-footer">
    <div class="container">
        <hr/>
        <p>&copy; 2020 - My App.</p>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>